<h1>
This is the order list  of this account  !!
</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>訂單編號</th>
      <th>訂單產品名稱</th>
      <th>數量</th>
      <th>單價</th>
      <th>總價</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <% order.items.each do |item| %>
    <tr>
       <td> 
        <%= link_to(order.id , accounts_order_path(order)) %>
       </td>
      <td><%= item.product_name  %></td>
      <td><%= item.quantity  %> </td>
      <td><%= item.price  %> </td>
      <td><%= order.total %></td>

      <% end %> 

    </tr>
    <% end %>

  </tbody>
</table>

<hr> 

<table class="table table-bordered">
	<thead>
      <tr>
      <th>付款方式</th>
      <th>付款狀態</th>
      <th>付款人</th>
      <th>付款人住址</th>
      <th>收件人</th>
      <th>收件人住址</th>
    </tr>
  </thead>
 
  <tbody>
    <% @orders.each do |order| %>
      <% #order.info.each do |info| %>
    <tr>
      <td><%= order.payment_method %></td>
      <td><%= order.aasm_state  %></td>
      <td><%= order.info.billing_name  %> </td>
      <td><%= order.info.billing_address  %> </td>
      <td><%= order.info.shipping_name %></td>
      <td><%= order.info.shipping_address %></td>
      <%# end %> 

    </tr>
    <% end %>

  </tbody>




</table>
