<h2>admin:訂單列表 </h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>生成時間</th>
      <th>訂購者</th>
      <th>訂單狀態</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td> <%= render_admin_order_link(order) %> </td>
      <td> <%= render_order_created_time(order) %> </td>
      <td> <%= render_order_user_name(order) %>
      </td>
      <td> <%= render_order_state(order) %> </td>
      <td>
        <%= simple_form_for [:admin, order ]  do |f| %>

       <%= f.select :aasm_state,['make_payment','ship','deliver','cancell_order','return_good'] %>

       <%= button_tag(type: 'submit', class: "btn btn-default btn-xs") do %>

       <i class="glyphicon glyphicon-repeat"></i>
       <% end %>

       <% end %>
     </td>
   </tr>
   <% end %>

 </tbody>
</table>