<tr>
  <td><%= render_cart_product_image(cart_item) %></td>
  <td><%= render_cart_product_name(cart_item) %></td>
  <td><%= render_cart_product_price(cart_item) %></td>
  <td><%= render_cart_product_quantity(cart_item) %></td>
  <td><%= render_cart_product_total_price(cart_item) %></td>
  <td>
    <%= link_to("更改數量", "#", :class => "btn btn-success") %> 
    <%= link_to("刪除商品", cart_cart_item_path(current_cart.id, cart_item.id),:method => "DELETE", :class => "btn btn-danger") %>
  </td>
</tr>