 <div class="row">
   <div class="col-md-12">
    <h2 class="text-center"> 購物明細 </h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center" width="80%">商品明細</th>
          <th class="text-center">單價</th>
          <th class="text-center">操作</th>
        </tr>
      </thead>
      <tbody>
        <% current_cart.items.each do |product| %>
        <tr>
          <td>           
            <%= link_to(product.title, admin_product_path(product)) %>
          </td>
          <td class="text-center"> <%= product.price %> </td>
          <td class="text-center"><%= link_to("刪除此物品", "#", :class => "btn btn-warning") %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="total group">
      <span class="pull-right">
       <span> 總計 <%= render_cart_total_price(current_cart) %> NTD </span>
     </div>
     <hr>
     <h2> 訂單資訊 </h2>
     <div class="order-form">
      <%= simple_form_for @order do |f| %>
      <%= f.simple_fields_for :info do |c| %>
      <legend> 訂購人</legend>
      <div class="form-group col-lg-6">
        <%= c.input :billing_name, :label => "訂購人姓名：", input_html: { class: 'form-control'} %>
      </div>
      <div class="form-group col-lg-6">
       <%= c.input :billing_address, :label => "訂購人地址：", input_html: { class: 'form-control'} %>
     </div>
     <legend> 收貨人</legend>
     <div class="form-group col-lg-6">
        <%= c.input :shipping_name, :label => "收貨人姓名：", input_html: { class: 'form-control'} %>
      </div>
      <div class="form-group col-lg-6">
        <%= c.input :shipping_address, :label => "收貨人地址：", input_html: { class: 'form-control'}  %>
      </div>
    <% end %>
    <div class="checkout">
      <%= f.submit "生成訂單", :class => "btn btn-primary btn-lg btn-danger pull-right", :disable_with => 'Submiting...' %>
    </div>
    <% end %>
  </div>
</div>
</div>