 <div class="row">
   <div class="col-md-12">
 
    <h2> 購物車 </h2>
 
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>商品資訊</th>
          <th></th>
          <th>單價</th>
<<<<<<< HEAD
          <th>欲購買數量</th>
=======
          <th>購買數量</th>
          <th>改變數量</th>
>>>>>>> a955128c9981f798687577928ec239732f747e56
          <th>刪除物品</th>
      
        </tr>
      </thead>
      <tbody>
        <% current_cart.items.each do |product| %>
        <tr>
          <td><%= render_product_photo(product.default_photo) %></td>
 
            <td> 
              <%= link_to(product.title, admin_product_path(product)) %>
            </td>

            
            <td> <%= product.price %> </td>

<<<<<<< HEAD
            <td>
              <%= form_tag("/carts/change_item_quantity", method: "post") do%>
                <%= label_tag(:q, "數量") %>
                <%= number_field_tag(:count, CartItem.where("product_id = ? AND cart_id = ?", product.id, current_cart.id).take!.count)%>
                <%= hidden_field_tag(:product_id, product.id)%>
                <%= submit_tag("改變數量") %>
                <% end %>
            </td>

=======
    
            <td><input type="number" name= "kobe" value = <%= CartItem.where(product_id: product.id).take!.count%>> <input type="submit" value="shala
            "></td>
          
            <td><%= link_to("改變數量", change_item_quantity_carts_path(:product_id => product.id, :count => 2),
                  :method => :post , :class => "btn btn-primary btn-lg btn-danger") %></td>
            
>>>>>>> a955128c9981f798687577928ec239732f747e56
            <td><%= link_to("刪除物品",  delete_item_carts_path(:product_id => product.id) , :method => :post , :class => "btn btn-primary btn-lg btn-danger") %></td>
          </tr>
          <% end %>
 
        </tbody>
      </table>

 
      <div class="total group">
        <span class="pull-right">
           <span> 總計 <%= render_cart_total_price(current_cart) %> NTD  
        </span>
      </div>
      

      <div class = "checkout">
          <%= link_to("刪除全部", delete_all_carts_path,:method => :post, :class => "btn btn-primary btn-lg btn-danger pull-left") %>
      </div>
      
      <div class="checkout">
          <%= link_to("確認結賬",  checkout_carts_path , :method => :post , :class => "btn btn-primary btn-lg btn-danger pull-right") %>
      </div>
 
 
    </div>
 
 
  </div>