<div class="cart row">
  <div class="col-md-12">
  <%= link_to("清空購物車", "#", :class => "pull-right btn btn-primary btn-sm") %>
  <h2> 購物車 </h2>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th colspan="2">商品資訊</th>
        <th>單價</th>
        <th>數量</th>
        <th>刪除商品</th>
      </tr>
    </thead>
    <tbody>
      <% current_cart.cart_items.each do |item| %>
        <tr>
          <td class="col-md-1"><%= render_product_photo(item.product.default_photo) %></td>
          <td class="col-md-8"><%= link_to(item.product.title, product_path(item.product)) %></td>
          <td class="col-md-1 price"> <%= item.product.price %> </td>
          <td class="col-md-1 qt">
            <%= simple_form_for item, :url => cart_item_path(item), defaults: {label: false} do |f| %>
              <%= f.input :quantity, :value => item.quantity, :class => "col-md-10" %>
              <%= f.submit "變更數量", :disable_with => 'Submiting...' %>
            <% end -%>
          </td>
          <td class="col-md-1 delete"> <%= link_to("x", cart_item_path(item), :method => :delete, :class => "btn btn-xs btn-default") %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="clearfix">
    <span class="pull-right">
       <span> 總計 <span class="total"><%= render_cart_total_price(current_cart) %></span> NTD
    </span>
  </div>

  <hr>
  <div class="checkout">
      <%= link_to("確認結賬", checkout_carts_path , :method => :post , :class => "btn btn-lg btn-danger pull-right") %>
  </div>
  </div>


</div>