 <div class="row">
   <div class="col-md-12">

    <h2> 購物車 </h2>



    <table class="table table-bordered">
      <thead>
        <tr>
          <th>商品資訊</th>
          <th>品名</th>
          <th>單價</th>
          <th>數量</th>
        </tr>
      </thead>
      <tbody>

        <% current_cart.cart_items.each do |item| %>
        <tr>
          <td><%= render_product_photo(item.product.default_photo) %></td>
          <td><%= link_to(item.product.title, admin_product_path(item.product)) %></td>
          <td><%= item.product.price %> </td>
          <td><%= link_to("數量調整", "#")%><br> 
            <p><%= link_to("移除購物車", item_path(item), :method => :delete) %></p> 
          </td>
        </tr>
          <% end %>


        </tbody>
      </table>

      <div class="total group">
        <span class="pull-right">
           <span> 總計 <%= render_cart_total_price(current_cart) %> NTD  
        </span>
      </div>
  
      <hr>
      <div class="checkout">
          <%= link_to("確認結賬", checkout_carts_path , :method => :post , :class => "btn btn-primary btn-lg btn-danger pull-right") %>
          <%= link_to("清空購物車", clear_cart_carts_path , :method => :delete , :class => "btn btn-primary btn-lg btn-info pull-right")%>
      </div>


    </div>


  </div>
