<div class="group">
  <%= f.label "標題" %>
  <%= f.text_field :title %>
</div>

<div class="group">
  <%= f.label "敘述" %>
  <%= f.text_area :description %>
</div>

<div class="group">
  <%= f.label "數量" %>
  <%= f.text_field :quantity %>
</div>

<%= f.submit "送出", disable_with: "..." %>
