<%= simple_form_for [:admin, @product] do |f| %>
<% if @product.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
  <ul>
    <% @product.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

</div>

<%= f.input :title, label: '商品名稱' %>
<%= f.input :picture , label: '商品圖片' %>
<%= f.input :description , label: '商品敘述' %>
<%= f.input :quantity , label: '商品數量' %>

<%= f.button :submit %>
<%= link_to "取消", admin_products_path %>

<% end %>

