
<h2 class="text-center">我的個人後台</h2>
<h3 class="text-center">商品清單</h3>
<div class="group">
  <%= link_to("新商品", new_admin_product_path , :class => "btn btn-large btn-primary pull-right" ) %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <td> # </td>
      <td> 名稱 </td>
      <td> 介紹 </td>
      <td> 數量 </td>
      <td> 功能 </td>
    </tr>
  </thead>

  <tbody>
    
    <% @products.each do |product| %>
    <tr>
      <td> <%= product.id %> </td>
      <td> <%= link_to(product.title, admin_product_path(product)) %> </td>
      <td> <%= product.description %> </td>
      <td> <%= product.quantity %> </td>
      <td> <%= ibutton("Edit", edit_admin_product_path(product), :class => "btn btn-info btn-mini" , :iclass => "icon-pencil") %>
           <%= ibutton("Delete", admin_product_path(product), :class => "btn btn-mini btn-danger", :iclass => "icon-remove", :method => :delete, data: { confirm: "Are you sure?" }  ) %></td>
           
     
    <% end %>

  </tbody>
</table>


