<div class="row admin col-md-10 col-md-offset-1 clearfix">
  <div class="row buttonsGroup">
    <%= link_to("新增產品", new_admin_product_path, :class => "btn btn-primary btn-sm pull-right") %>
    <%= link_to("查看客戶訂單", admin_orders_path, :class => "btn btn-primary btn-sm pull-right") %>
  </div>
  <ul class="clearfix">
    <% @products.each do |product| %>
      <li>
        <%= link_to(product.title, admin_products_path(product)) %> | <%= link_to "EDIT", edit_admin_product_path(product) %> | <%= link_to "刪除", admin_product_path(product), :method => :delete, :confirm => "確定刪除產品？" %>
        <BR />
        <%= render_product_photo(product.default_photo) %>
        <BR /><BR />
      </li>
      <!-- undefined method `image_url` ?-->
    <% end %>
  </ul>
</div>