<div class="span12">    
    <div class="container">
    <table class="table">
      <thead>
        <tr>
          <td> # </td>
          <td> Title </td>
          <td> Description </td>
          <td> Quantity </td>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
        <tr>
          <td> # </td>
          <td> <%= link_to(product.title, admin_product_path(product)) %> </td>
          <td> <%= product.description %> </td>
          <td> <%= product.quantity %> </td>
          <td> 
            <%= link_to("Edit", edit_admin_product_path(product)) %> 
            <%= link_to("Delete", admin_product_path(product), :method => :delete, data: {confirm: 'Are you sure?'}) %>

          </td>
        </tr>
        <% end %>
      </tbody>

    </table>
    </div>
</div>