
<h2 class="text-center"> 我的個人後台與商品清單 </h2>
<div class="group">
<%= link_to("新增商品",new_admin_product_path , :class => "btn btn-large btn-primary pull-right") %>:
</div>

<table class="table table-hover">
	<thead>
	<tr>
		<td> ＃ </td>
		<td> 商品名稱 </td>
		<td> 敘述 </td>
		<td> 數量 </td>
		<td> 功能 </td>
	</tr>
	</thead>

  	<tbody>
  	<% @products.each do |product|%>
   	<tr> 
   		<td><%= product.id %> </td>
   		<td><%= link_to(product.title, admin_product_path(product)) %></td>
   		<td><%= product.description %></td>
   		<td><%= product.quantity %></td>
   		<td><%= link_to("Edit",edit_admin_product_path(product), :class => "btn btn-mini") %>
   			<%= link_to("Delete", admin_product_path(product), :class=> "btn btn-mini", :method => :delete, :comfirm => "Are u sure?") %></td>
   	</tr>
   <% end %>
   </tbody>
</table>

