<h2> 後台 - 產品列表 </h2>

<div>
  <p><%= link_to "新增產品", new_admin_product_path, class: "btn btn-primary btn-lg", role: "button" %></p>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>名稱</th>
        <th>描述</th>
        <th>價格</th>
        <th>數量</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= link_to product.title, admin_product_path(product.id) %></td>
          <td><%= truncate(product.description, length: 80) %></td>
          <td><%= product.price %></td>
          <td><%= product.quantity %></td>
          <td><%= link_to "編輯", edit_admin_product_path(product.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
