
<div class="col-sm-3 col-sm-offset-4">
  <h2>New Product</h2>
  <%= simple_form_for [:admin, @product], :html => {:multipart => true} do |f| %>

    <div>  
    <%= f.input :title, :input_html => {:class => "input"} %>
    </div>
    <%= f.input :description, :input_html => {:class => "input-xxlarge"} %>
    <%= f.input :quantity, :input_html => {:class => "input"} %>
    <%= f.input :image, :input_html => {:class => "input-xxlarge"} %>
    <%= f.input :remote_image_url, label: "Or image URL", :input_html => {:class => "input-xxlarge"} %>



    <div class="form-actions">
      <%= f.submit "Submit", :disable_with => "Submiting...", :class => "btn btn-mini btn-success" %>

    </div>
    <% end %>
</div>