<!-- simple form -->
<%= simple_form_for [:admin, @product] do |f| %>
  <%= f.input :title, label: '標題' %>
  <%= f.input :description, label: '產品敘述' %>
  <%= f.input :quantity, label: '數量' %>
  <!--
  Wrapper to use Simple Form inside a default rails form.
  It works in the same way that the fields_for Rails
  helper, but change the builder to use the SimpleForm::FormBuilder.
  -->
  <%= f.simple_fields_for :photos do |c| %>
      <%= c.input :image , :as => :file %>
  <% end %>
  <%= f.submit "Submit", :disable_with => 'Submiting...' %>
<% end %>


<!-- 原本的 form
<%= form_for [:admin, @product] do |f| %>
  <div class="group">
    <%= f.label("標題") %>
    <%= f.text_field :title %>
  </div>
  <div class="group">
    <%= f.label("敘述") %>
    <%= f.text_area :description %>
  </div>
  <div class="group">
    <%= f.label("數量") %>
    <%= f.text_field :quantity %>
  </div>

  <%= f.submit "Submit", :disable_with => 'Submiting...' %>
<% end %>
 -->