<h2>新增產品</h2>

<%= simple_form_for [:admin, @product], html: {multipart: true, class: 'form form-horizontal'}  do |f| %>

    <div class="form-group">
      <div class="col-sm-10">
        <%= f.input :title, label: '標題' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <%= f.input :description, label: '敘述', as: :text %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <%= f.input :quantity, label: '數量', collection: 1..10  %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <%= f.input :price, label: '價格'%>
      </div>
    </div>

    <div class="form-group">
      <%= f.simple_fields_for :photos do |c| %>
        <%= c.input :image, as: :file %>
      <% end %>
    </div>



    <div class="form-group">
      <%= f.submit 'Submit', disable_with: 'Submiting ...', :class => 'btn btn-default'%>
    </div>

<% end %>

<%= javascript_tag do %>
    $(function() {
        var fieldsCount,
        maxFieldsCount = 2,
        $addLink = $('a.add_nested_fields');

        function toggleAddLink() {
            $addLink.toggle(fieldsCount <= maxFieldsCount)
        }

        $(document).on('nested:fieldAdded', function() {
            fieldsCount += 1;
            toggleAddLink();
        });

        $(document).on('nested:fieldRemoved', function() {
            fieldsCount -= 1;
            toggleAddLink();
        });

        // count existing nested fields after page was loaded
        fieldsCount = $('form .fields').length;
        toggleAddLink();
    })
<% end %>

