<%= simple_form_for  [:admin, @product] do |f| %>
  <div class="group">
    <%= f.input :title, label: "標題" %>
  </div>

  <div class="group">
    <%= f.input :description, label: "敘述" %>
  </div>

  <div class="group">
    <%= f.input :quantity, label: "數量" %>
  </div>
  <div class="group">
    <%= f.fields_for :photos do |photo| %>
      <%= photo.input :image, label: "圖片", as: :file %>
    <% end %>
  </div>
  <%= f.button :submit, :disable_with => 'Submiting....' %>
<% end %>
