<h2 class = "text-center"> 新增商品 </h2>
<%= simple_form_for [:admin, @product ] , :html => { :class => "form form-horizontal"  } do |f| %>

  <div class="form-group">
    <%= f.input :title, label_html: {class: 'col-sm-3 control-label'}, input_html: {class: 'col-sm-9 form-control',maxlength: 100, style: 'width: auto;'} %>
  </div>
  
  <div class="form-group">
    <%= f.input :description, label_html: {class: 'col-sm-3 control-label'}, input_html: {class: 'col-sm-9 form-control',rows: 3, cols: 100, style: 'width: auto;'}, :as => :text %>
  </div>
  
  
  
  <div class="form-group">
    <%= f.input :quantity, label_html: {class: 'col-sm-3 control-label'}, input_html: {class: 'col-sm-9 form-control', style: 'width: auto;'} %>
  </div>


  <div class="form-group">
  
    <%= f.input :price, label_html: {class: 'col-sm-3 control-label'}, input_html: {class: 'col-sm-9 form-control', style: 'width: auto;'} %>
  </div>

  <div class="form-group">
  
    <%= f.simple_fields_for :photos do |c| %>
      <%= c.input :image, label_html: {class: 'col-sm-3 control-label'}, input_html: {class: 'col-sm-9', style: 'width: auto;'}, :as => :file %>
    <% end %>
  </div>


  <div class="form-group">
    <div class="col-sm-3"></div>
    <div class="col-sm-9">
      <%= f.submit "Submit", :class => "btn btn-primary", style: 'margin-left: -15px;', :disable_with => 'Submiting...' %>
    </div>
  </div>




<% end %>