<h2 class="text-center">我的個人後台</h2>
<h3 class="text-center">新增商品</h3>

<%= simple_form_for [:admin, @product] do |f| %>

  <%= f.input :title, label: '商品名稱' %>

  <%= f.input :description, label: '商品介紹' %>

  <%= f.input :quantity, label: '商品數量' %>

  <%= f.input :photo, as: :file, label: '照片上傳' %>

  <%= f.submit "Submit", :disable_with => 'Submiting...' %>

<% end %>
