<%= form_for [:admin, @product] do |f| %>
  <div class="group">
    <%= f.label("標題") %>
    <%= f.text_field :title %>
  </div>
  <div class="group">
    <%= f.label("敘述") %>
    <%= f.text_area :description %>
    <!fftf +TAB !>
  </div>
  <div class="group">
    <%= f.label("數量") %>
    <%= f.text_field :quantity %>
  <!fftf +TAB !>
  </div>

  <%= f.submit "Submit", :disable_with => 'Submiting...' %>
  <!ffs +TAB !>
<% end %>