<%= form_for [:admin, @product] do |f| %>

	fftf
	<div class="group">
		<%= f.label('標題') %>
		<%= f.text_field :title %>
	</div>

	ffta
	<div class="group">
		<%= f.label('敘述') %>
		<%= f.text_area :description %>
	</div>

	<div class="group">
		<%= f.label('數量') %>
		<%= f.text_field :quantity %>
	</div>

	ffs
	<%= f.submit "Submit", :disable_with => 'Submiting...' %>
<% end %>
