<p id="notice"><%= notice %></p>

<p>
  <strong><%= @product.title %></strong>
</p>



<p>
  <%= image_tag(@product.picture_url, width: 200) if @product.picture.present? %>
</p>

<p>
  <strong>商品敘述:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>商品數量:</strong>
  <%= @product.quantity %>
</p>

<%= link_to '編輯', edit_admin_product_path(@product) %> |
 <%= link_to "取消", admin_products_path %>
