

<tr>
<td><%= @product.title %></td>
<td><%= @product.description %></td>
<td><%= @product.quantity %></td>
</tr>





<!--
<% @product.photos.each do |photo| %>
<tr>
<!--
<td><%= photo.image_name %></td>>
<td><%= image_tag photo.image_url%></td>
</tr>

<% end %>
<!-- adding photo delete-->



