<div class='container'>
  <%= link_to("編輯", edit_admin_product_path(@product), :class => "btn btn-primary") %>
  <div class='row'>
    <div class='col-lg-12'>
      <h3 class="bg-info"> <%= @product.title %> </h3>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-5'>
      <% @product.photos.each do |photo| %>
        <%= image_tag photo.image.url, :class => "img-rounded" %>
      <% end %>
    </div>
    <div class='col-lg-7'>
      <h2> <%= @product.title %> </h2>
      <p><b><%= @product.description %> </b></p>
      <p><b>數量：<%= @product.quantity %> </b></p>
    </div>
  </div>
</div>
