<div class="row">
  <div class="col-md-5">
    <%= render_photo(@product.main_photo) %>
  </div>

  <div class="col-md-7">
    <h2><%= @product.title %></h2>
    <div>
      <p><%= @product.description.html_safe %></p>
    </div>
  </div>
  <div>數量 : <%= @product.quantity %></div>

  <div class="pull-right">
    <%= link_to "加入購物車", "#", class: "btn btn-primary btn-lg btn-danger" %>
  </div>
</div>
