<%# add navigation links to this file %>
<li>
	<%= link_to carts_path do %> 
		購物車 <span class="glyphicon glyphicon-shopping-cart"></span> <span class="label label-primary"><%= cart_items_count(current_cart) %></span>
	<% end %>
</li>
<% if user_signed_in? %>
  <li><%= link_to '管理帳號', edit_user_registration_path %></li>
  <li><%= link_to '登出', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to '登入', new_user_session_path %></li>
  <li><%= link_to '註冊新帳號', new_user_registration_path %></li>
<% end %>
