<div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="navbar-brand"><%= link_to("Art Store", admin_products_path) %></div>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <!--
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                -->

                <li> <%= link_to("New Product", new_admin_product_path) %> </li>
                                <li class="dropdown-right nav-dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                  <ul class="dropdown-menu nav-dropdown-menu">

                    <% if current_user %>
                    <li> <%= link_to("Logout", destroy_user_session_path, :method => :delete) %> </li>
                    <% else %>
                    <li> <%= link_to("Sign Up", new_user_registration_path) %> </li>
                    <li> <%= link_to("Sign In", new_user_session_path) %> </li>
                    <% end %>
                    <!--
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                    -->
                  </ul>
                </li>
                <form class="navbar-form navbar-right" role="search">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>



   