<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <%= link_to("RoR Stroe", root_path, :class => "navbar-brand") %>
  </div>
  <div>
    <ul class="nav navbar-nav pull-right">
      <% if current_user %>
        <li><%= link_to("購物", products_path) %></li>
        <li>
          <%= link_to carts_path do  %>
            購物車 <i class="glyphicon glyphicon-shopping-cart"> </i> (<%= cart_item_count(current_cart) %>)
          <% end %>
        </li>
        <li class="dropdown">
          <%= link_to "/account" , :class => "dropdown-toggle", :data => { :toggle => "dropdown" } do %>
            <%= current_user.email %>
          <% end %>
          <ul class="dropdown-menu">
            <% if current_user.try(:admin?) %>
              <li><%= link_to("商品管理", admin_products_path) %></li>
              <li><%= link_to("訂單管理", admin_orders_path) %></li>
            <% else %>
              <li><%= link_to("訂單資訊", account_orders_path) %></li>
            <% end %>
            <li><%= link_to("登出",destroy_user_session_path, :method => :delete ) %></li>
          </ul>
        </li>
      <% else %>
        <li> <%= link_to( "註冊" ,new_user_registration_path) %> </li>
        <li> <%= link_to( "登入", new_user_session_path )  %> </li>
      <% end %>
    </ul>
  </div>
</nav>
