<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <% if current_user %>    

    <li><%= link_to(current_user.email ,'') %></li>


    <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %></li>

    <% else %>
    <li> <%= link_to( "註冊" ,new_user_registration_path) %> </li>
    <li> <%= link_to( "登入", new_user_session_path )  %> </li>   
    <li> <%= link_to( "FACEBOOK登入", "/users/auth/facebook" )  %> </li>   
    <% end %>
  </li>

</ul>

<% content_for :javascripts do %>



<% end %>