<!DOCTYPE html>
<html>

<%= render 'layouts/header' %> 
<body>
<div class="container">
  <%= render 'layouts/navbar' %>

 <% if !current_user %> 
     <%= link_to("登入", new_user_session_path)   %>
 <% else %>
	 <%= link_to("登出", destroy_user_session_path, :method => :delete ) %>  
 <% end  %>



<%= yield %>

</div>
</body>
</html>
