<!DOCTYPE html>
<html>
<head>
  <title>Artstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>

  <% if !current_user %>
    <%= link_to "login", new_user_session_path %>
  <% else %>
    <%= link_to "logout", destroy_user_session_path, :method => :delete %>
  <% end %>

<%= yield %>

</body>
</html>
