<!DOCTYPE html>
<html>
<head>
  <title>Artstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/assets/bootstrap.min.css?body=1">
</head>
<body>


    <div class="navbar-header">
      <a class="navbar-brand" href="/admin/products">斑馬購物商城</a>   
    </div>

<p class="navbar-text pull-right">
<% if user_signed_in? %>
  <strong><%= current_user.email %></strong>.
  <%= link_to "帳號", edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "登出", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "註冊", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "登入", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

</br>
<%= yield %>

</body>
</html>
