<!DOCTYPE html>
<html>
<head>
  <title>Artstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <%= link_to("RoR Stroe", root_path, :class => "navbar-brand") %>
    </div>
    <div>
      <ul class="nav navbar-nav pull-right">
        <% if !current_user %>
          <li><%= link_to("登入", new_user_session_path) %></li>
        <% else %>
          <% if current_user.admin? %>
            <li><%= link_to("後台", admin_products_path) %></li>
          <% end %>
          <li><%= link_to("登出", destroy_user_session_path, :method => :delete ) %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <% if flash[:error] -%>
    <div class="container">
      <p class='bg-warning text-danger'><%= flash[:error] %></p>
    </div>  
  <% end %>

<%= yield %>

</body>
</html>
